body {
    background-image: url("img/image11.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;
    
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: blue;
}


li a:hover {
    background-color: #555;
    color: blue;
}

 h3{
 	text-align: center;
 	font-size: 50px;
 	color: black;

 }
 .w3-tangerine {
    font-family: "Tangerine", serif;
}
.footer { 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

